body {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgb(238, 206, 220);
    background-repeat: no-repeat;
    background-size: cover;

    color: #35302a;
    
}

.c {
    background-color: #ffffff;
    font-size: 15px;
    width: 550px;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;

    border-radius: 60px;

    box-shadow: 0 0 0 20px rgb(238, 206, 220),
        /* Внутренний контур */
        0 0 0 40px rgb(248, 167, 202), 0 0 0 80px rgb(240, 191, 212);
    /* Внешний контур */

}


.form-group {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;


}

.form-label {
    text-align: center;
    display: block;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
}
.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius:20px ;
    border: 2px solid rgb(75, 32, 51);

}
.btn {
    color: #ffffff;
    font-weight: bolder;
    display: block;
    width: 60%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(255, 86, 159);
    border: 3px solid rgb(252, 140, 189);
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;

    margin-bottom: 10px;




}
p {
    font-size: 1.2rem;
    text-align: center;
}